.list-cell {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Courier New Courier" , monospace;
}
.list-cell:hover {
    -fx-background-color: #00ffff;
    -fx-cursor: hand;
}

.myButton {
    -fx-background-color: #fff;
    -fx-cursor: hand;
    -fx-transition-duration: 0.4s;
}

.myButton:hover {
    -fx-background-color: #8FBC8F;
}

.myButton:selected {
    -fx-background-color: #008080;
}

.buttonGame {
    -fx-border-radius: 8px;
    -fx-cursor: hand;
    -fx-translate-y: 0;
    -fx-transition: -fx-translate-y 0.2s ease-out;
}

.textFont {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-font-family: "Courier New Courier" , monospace;
}

.imgGame {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.buttonGame:hover {
    -fx-translate-y: -10;
}


